@model IEnumerable<EjemploRazorMVC.Models.Libro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var librote in Model) {
    <tr>
        
        <td>
            @librote.Titulo
            @Html.ActionLink("Edit", "Edit", new { id=librote.Isbn }) |
            @Html.ActionLink("Details", "Details", new { id=librote.Isbn }) |
            @Html.ActionLink("Delete", "Delete", new { id=librote.Isbn })
        </td>
    </tr>
}

</table>
