@*@model EjemploRazorMVC.Models.Libro*@
@model IEnumerable<EjemploRazorMVC.Models.Libro>
<h2>Index</h2>
<p>Listado de libros</p>
<ul>
    @foreach(var libro in Model)
            {
                <li>@libro.Titulo (@libro.TipoLibro)</li>
            }
</ul>


@*<p>El de es <strong>@Model.Titulo</strong></p>*@


@{
    string titulo = "Página principal";
    int dia = DateTime.Now.Day;
    int mes = DateTime.Now.Month;
    int año = DateTime.Now.Year;
    string cadena;
    if (dia > 15)
    {
        cadena = "Estamos en la segunda parte del mes";
    }
    else
    {
        cadena = "Estamos en la primera parte del mes";
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>@titulo</h1>
        <p>Fecha:@dia/@mes/@año</p>
        <p>@cadena</p>
    </div>
</body>
</html>

